/* Move down content because we have a fixed navbar that is 50px tall */

body {
 background-image: url("/images/polaroid.png");
     /*font-family: 'Lobster', cursive;*/
     padding-top: 100px;
  padding-bottom: 20px;
}

.the_nav {

  font-family: 'Lobster', cursive;
}

.voting_photo
{

background-image: url("/images/AGOOGLE2.jpg");
/*border-radius: 2%;
*/padding: 10px;
border:2px solid #cad7db;

}

/* Navbar edits */
/*.navbar-default {
  background-color: #FFF
  border-color: #000;
}*/

.leaderboard {
    /*background-image: url("/images/polaroid.png");*/
     /*   font-family: 'Pacifico', cursive;4*/
     
  font-family: 'Lobster', cursive;
}

.home_page {
    /*background-image: url("/images/polaroid.png");*/
    font-family: 'Pacifico', cursive;  
}

/*

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}


.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}

.front-form img{
    border-radius: 50%;

}

.glyphicon.glyphicon-heart {
    font-size: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: red;
}
.glyphicon.glyphicon-remove {
    font-size: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: blue;
}
.outer_heart{
  background-color: #f00;
  border-radius: 70px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 60px;
  width: 60px;
  display: inline-block;
}
.outer_remove{
  background-color: #00f;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 70px;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  display: inline-block;
}
.inner {
  background-color: #fff;
  border-radius: 70px;
  height: 50px;
  width: 50px;
}
.glyphicon.glyphicon-thumbs-up{
    margin-top: 10%;
}
.glyphicon.glyphicon-thumbs-down{
    margin-top: 10%;
}
.label.label-default.label-pill.pull-xs-right{
     margin-top: 10%;
}
.glyphicon.glyphicon-remove-sign{
    margin-top: 60%;
}
.good{
    color:green;
}
.bad{
    color:red;
}




@import url(http://fonts.googleapis.com/css?family=Concert+One);
html, body {margin:0 auto;}
.container2 {
  width:209px;
  height:314px;
  position:relative;
  display:inline-block;
  vertical-align:top;
  background-clip:content-box;
}
.fade2 {
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  background-clip:content-box;
}
.show2 {
  width:100%;
  height:0%;
  position:absolute;
  bottom:0; 
  background-clip:content-box;
}
.bar2 {
  width:100%;
  height:0%;
  position:absolute;
  bottom:0;
  border-top:1px dashed black;
}
.bar2 div {
  position:absolute;
  line-height:20px;
  width:100px;
  top:-10px;
  right:-90px;
  font-family:arial, sans-serif;
  font-size:16px;
  text-align:center;
  color:#565656;
}
.bar2 div span {
  
  line-height:30px;
  font-size:34px;
  color:black;
}

.container3 {
  width:209px;
  height:314px;
  position:relative;
  display:inline-block;
  vertical-align:top;
  background-clip:content-box;
}
.fade3 {
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  background-clip:content-box;
}
.show3 {
  width:100%;
  height:0%;
  position:absolute;
  bottom:0; 
  background-clip:content-box;
}
.bar3 {
  width:100%;
  height:0%;
  position:absolute;
  bottom:0;
  border-top:1px dashed black;
}
.bar3 div {
  position:absolute;
  line-height:20px;
  width:100px;
  top:-10px;
  left:-90px;
  font-family:arial, sans-serif;
  font-size:16px;
  text-align:center;
  color:#565656;
}
.bar3 div span {
  
  line-height:30px;
  font-size:34px;
  color:black;
}

*/