<form method="POST" action='/users/login'>
      <div class="form-group">
    <div>
    <label>username :</label>
    <input class="form-control" type="text" name="user_name" value="">
  </div>
  <div>
    <label>Password :</label>
       <input class="form-control" type="password" name="password" value="">
  </div>
   <div>
    <p><br /> <button  type="submit" class="btn btn-lg btn-success">Submit</button></p>
       </div>
  </div>
      </div>
</form>
