<div class="container">

<div class="jumbotron">

        <h1>Sign Up and Start Voting!</h1>

        <p class="lead">User Name; Password; Retype password; Email</p>

        <p><a class="btn btn-lg btn-success" href="#" role="button">Register</a></p>

</div>

</div>
